<main>
    <div class="image-container"><img
            src="/assets/chilli.jpg"
            alt="chilli"
        /></div>
    <div class="container">
        <h1>Edit your <span>profile.</span></h1>
        <p>Want to update your info?</p>
        <p>Just fill out the relevant fields below:</p>
        <p class="error">{{{error.message}}}</p>
        <form method="post" id="form">
            <div class="name-field">
                <label for="first">First name:</label>
                <input
                    type="text"
                    value="{{first}}"
                    name="first"
                    id="first"
                /><label for="last">Last name:</label>
                <input type="text" value="{{last}}" name="last" id="last" />
                <label for="email">Email:</label>
                <input
                    type="text"
                    value="{{email}}"
                    name="email"
                    id="email"
                /><label for="password">Password:</label>
                <input
                    type="password"
                    value=""
                    name="password"
                    id="password"
                    placeholder="Min 6 characters"
                /><label for="age">Age:</label>
                <input type="text" name="age" id="age" value="{{age}}" /><label
                    for="city"
                >City:</label>
                <input
                    type="text"
                    value="{{city}}"
                    name="city"
                    id="city"
                /><label for="url">Homepage:</label>
                <input type="url" value="{{url}}" name="url" id="url" /></div>

            <input id="submit" type="submit" value="Update profile" />
        </form>
        <ul class="footer">
            <li><a href="./petition">Back to petition</a></li>
            <li><a href="./logout">Logout</a></li>
        </ul>
    </div>
</main>