<main>
    <div class="image-container"><img
            src="/assets/strawberry.jpg"
            alt="strawberry"
        /></div>
    <div class="container">
        <h1>Just as <span>tasty.</span></h1>
        <p class="confirmation">{{confirmation}}</p>
        <p>In Europe, almost a third of fruit and vegetables are thrown away
            each year simply because they are blemished or oddly shaped,
            although they lack nothing else in quality.
        </p>
        <p>Ugly produce is just as tasty as normal-looking produce. </p>
        <p>Join our movement to bring imperfect fruit and vegetables to
            supermarket shelves and stop unnecessary food waste!
        </p>
        <p class="error">{{error.message}}</p>
        <form method="post" id="form">
            <div class="name-field">
                <label for="first">First name:</label>
                <input type="text" value="{{first}}" name="first" id="first" />
                <label for="last">Last name:</label>
                <input type="text" value="{{last}}" name="last" id="last" />
                <label for="email">Email:</label>
                <input type="text" value="{{email}}" name="email" id="email" />
                <label for="password">Password:</label>
                <input
                    type="password"
                    value=""
                    name="password"
                    id="password"
                    placeholder="Min 6 characters"
                /></div>
            <input id="submit" type="submit" value="Sign up" />
        </form>
        <ul class="footer">
            <li>I've already signed up, take me to the
                <a href="./login">login</a>
                page.</li></ul>
    </div>
</main>