<main>
    <div class="image-container"><img
            src="/assets/tomatoes.jpg"
            alt="tomatoes"
        /></div>
    <div class="container">
        <h1>Fellow <span>signers.</span></h1>
        <p>The following persons support our initiative to prevent the waste of
            ugly produce:</p>
        <ul>
            {{#signers}}
                <li class="signer">{{#if url}}<a href="{{url}}">{{first}}
                            {{last}}</a>{{else}}{{first}} {{last}}{{/if}}{{#if
                        age
                    }} / {{age}}{{/if}}
                    {{#if city}}
                        /
                        <a href="/signers/{{cityLink}}">{{city}}</a>{{/if}}
                </li>

            {{/signers}}
        </ul>
        <ul class="footer">
            <li><a href="./edit-profile">Edit profile</a></li>
            <li><a href="./logout">Logout</a></li>
            <li>
                <form id="delete" action="/signature-delete" method="post">
                    <button>Delete signature</button>
                </form></li>
            <li>
                <a href="./delete-account">Delete my account</a></li>
                </form></li>
        </ul>
    </div>
</main>