<main>
    <div class="container">
        <h1>Fellow signers</h1>
        <p>The petition was signed by:</p>
        {{#signers}}
            <p class="signer">{{#if url}}<a href="{{url}}">{{first}}
                        {{last}}</a>{{else}}{{first}} {{last}}{{/if}}
                {{age}}
                {{#if city}}<a
                        href="/signers/{{cityHyphen city}}"
                    >{{city}}</a>{{/if}}</p>
        {{/signers}}
        <hr />
        <p class="small-text"><a href="./logout">Logout</a></p>
    </div>
</main>